* {
    box-sizing: border-box;
}
body{
    margin:0;
    width:100vw;
    height: 100vh;
    background-color: white;
}
.container{
    width:100%;
    height:100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:15px 50px;
    
    

}

header {
    width: 100%;
    max-width:1500px;
    background-color: #F9FAFB;
    height:80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid #F3F3F4;
    
}
.year{
    width:100%;
    font-weight: 700;
    font-size: 20px;
    padding-left: 30px;
    display: flex;
    align-items: center;

}
.menu{
    width:100%;
    display: grid;
    grid-template-columns: 130px 130px 10px 100px;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 30px;

    
}
.menu_btn{
    width:100%;
    height:35px;
    background-color: #FFFFFF;
    border:1px solid #DBDEE2;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 6px;
}
.menu_btn:last-child{
    background-color: #4F46E5;
    color:white;
}

main{
    width:100%;
    max-width:1500px;
    
}

.day{
    width:100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #E1E4E7;
    grid-column-gap: 1px;
    grid-row-gap: 2px;
    padding:1px;

}

.title_day{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.8rem;
    font-weight: 600;
    height:35px;
    background-color: white;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 0.5 em;
    grid-gap: 1px solid 1px;
    
}

.date{
    height:100px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px;

    border:1px solid rgba(232, 235, 238,1);
    
}
.other_month{
    background-color: #F9FAFB;
    color:gray;
}

.today{
    background-color: blue;
    display:inline;
    border-radius: 50%;
    padding:6px;
    color:white;
}



.date > div:nth-child(n+2){
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.schedule{
    font-size: 12px;
}
